body, html, #root, .app, .container{
  width: 100%;
  height: 100%;
}
.container{
  font-size: 28px;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color:whitesmoke;
}

.loginForm{
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  background-color: white;
}
.inputField{
  padding-top: 16px;
  margin-left: 20px;
  margin-top: 25px;
  display: inline-block;
}
.input{
  box-sizing: border-box;
  outline: none;
  border: none;
  color: #292929;
  padding: 10px;
  width: 300px;
  font-size: 14px;
  border: 2px solid whitesmoke;
}
.submitButton{
  text-align: center;
  display: inline-block;
  margin: 50px;
}
.btn{
  color: white;
  padding: 12px;
  min-width: 150px;
  font-size: 14px;
  border: none;
  font-weight: bold;
  background-color:#1b6ca8;
  cursor: pointer;
  outline: none;
}
.heading{
  text-align: center;
  background-color:#1b6ca8;
  color: white;
  padding: 10px 0px;
}

.userfield{
  color: red;
  display: inline-block;
  width: 130px;
  margin-left: 20px;
  font-size: 13px;
}
.requiredText{
  text-align: center;
  color: red;
  font-size: 12px;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

