
.navcontainer{
    background-color: rgba(11, 85, 134, 0.705);
    height: 70px;
    padding-right: 50px;
}

    .navcontainer .heading{
        font-size: 22px;
        color: white;
        text-align: center;
        justify-content: center;
        vertical-align: middle;
        margin-top: 20px;
    
    }
#confirmed{
    font-size: 30px;
    color: tomato;
    margin-top: 60px;
    text-align: center;
}
#thankyou{
    font-size: 20px;
    color: tomato;
    margin-top: 20px;
    text-align: center;
}
#return{
    text-decoration: none;
    outline: none;
    display: inline;
    margin: 5px 20px;
    padding: 20px;
    background-color: teal;
    color: white;
}
#home{
    text-align: center;
    margin-top: 100px;
}