#menu > ul{
    display: block;
    margin-left:0;
  }
  #menu > ul > li{
    list-style: none;
    float: left;
    position: relative;   
  }
  #menu > ul > li > a {
  font-size: 11px;
  color:#eb4800;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 10px 14px;
  }
  #menu > ul > li.active{
  background-color:#eb4800;
  }
  #menu > ul > li.active > a{
  color:#fff;
  }
 
  #menu > ul a:hover{
  color: #eb4800; 
  text-decoration:none;
  }
  #menu .current{color: #eb4800 !important;}
  
  #menu ul ul {
    background: none repeat scroll 0 0 rgb(117, 155, 238);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    padding: 0px;
    position: absolute;
    padding: 10px;
    min-width:170px;
    display: none;
  }
  
  #menu > ul > li > ul{
    margin-left:10px;
    margin-top:1px;
    border:1px solid #ddd;
    border-top:0;
  }
  #menu ul ul li {
    list-style: none outside none;
    position: relative;
    padding: 10px;
  border-top:1px solid #fff;
  border-bottom:1px solid #ddd;
  }
  #menu ul ul li:last-child{
    border-bottom: none !important
  }
  #menu ul .drop:hover ul, #menu ul .drop1:hover ul{
    display: block;
    z-index: 1;
  }
  a{
    color:#eb4800;
    text-decoration: none;
}
a:hover{
	color:#fd4004;
	text-decoration:none;
}
ul li a,a{
	color:#333;
    outline:0; 
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
  